$primary-color: #FF6900;
$color-red: red;
$container-width: 80vw;

//CARD VARIABLES
$big-text-font-size: 1.1rem;
$small-text-font-size: 0.9rem;

// GRID VARIABLES
$col-gap: 10px;
$col-width: calc(100% / 3 - $col-gap);
